:root {
    --clr-bg-donation: #8addfd;
    --clr-bg-left-border: #e6e6e6;
    --clr-bg-bottom-border: #fcfcfc;
}

body {
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 20px 30px 20px 60px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

.nav__help {
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.list li {
    margin-right: 10px;
    cursor: pointer;
}

.donation_container {
    background-color: var(--clr-bg-donation);
    display: flex;
    flex-direction: row;
    gap: 400px;
    justify-content: center;
}

.donation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.donation__content h3 {
    font-size: 40px;
}

.donation__content p {
    font-size: 20px;
    width: 770px;
}

.donation__btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn_donate {
    height: 76px;
    width: 320px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.btn_join {
    height: 76px;
    width: 410px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.description_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.description__title h3 {
    font-weight: 800;
    font-size: 30px;
}

.description__sub_title p {
    font-weight: bold;
    width: 440px;
    text-align: center;
    margin-bottom: 40px;
}

.description__cards {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.description__card_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.description__card_content i {
    font-size: 240px;
    color: var(--clr-bg-donation);
}

.description__card_content p {
    width: 330px;
    text-align: center;
}

.work_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--clr-bg-donation);
}

.work__title {
    margin-top: 60px;
    font-size: 18px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.work-list li {
    width: 45%;
    text-align: left;
    display: flex;
}

.work-list li i {
    margin-bottom: 30px;
    margin-right: 6px;
}

.work__btn button {
    background-color: black;
    color: white;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 60px;
    cursor: pointer;
}

.animals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.animals__title h2 {
    margin-top: 10px;
    font-size: 58px;
    font-weight: 900;
}

.animals__sub_title p {
    font-size: 28px;
}

.animals_pic_list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.animals_pic_list img{
    width: 420px;
}

.how_we_work_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.how_we_work__cards_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_we_work__title h3{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 30px
}

.how_we_work__card_title{
    width: 1600px;
    height: 66px;
    background-color: var(--clr-bg-donation);
    border-radius: 10px 10px 0 0;
    border-left: 2px solid var(--clr-bg-left-border);
}

.how_we_work_container p{
    margin-top: 22px;
    margin-left: 20px;
    font-weight: bold;
}

.how_we_work__card_description{
    width: 1600px;
    height: 100px;
    border-left: 2px solid var(--clr-bg-left-border);
    border-bottom: 1px solid var(--clr-bg-bottom-border);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.news{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}

.news__left_side_container{
    width: 900px;
}

.news__right_side_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news__right_side_title h3{
    font-weight: bold;
    font-size: 40px;
}

.news__right_side_subtitle p{
    font-weight: bold;
    width: 660px;
}

.news__right_side_email input{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 340px;
    height: 60px;
}

.news__right_side_email input::placeholder{
    padding-left: 20px;
}

.news__right_side_send_btn button {
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.footer{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__icons{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icons li i{
    cursor: pointer;
}