@media (max-width: 600px){
    
    body > div > div{
        width: 100%; 
        max-width: 1200px; 
        margin: 0 auto; 
    }

    body > div > div > div.home-hero{
        flex-direction: column;
    }

    body > div > div > div.home-hero > img{

        max-width: 100%; 
        height: auto; 
    }

    body > div > div > div.home-hero > div > h1{
        font-size: 5vw; 
    }
}   