<h1>This is a Web Calculator</h1>
<form method = "POST">
		<input type = "number" placeholder ="Enter number" name = "firstNumber"/>
		<input type = "text" placeholder ="Enter operation(action)" name = "operation"/>
		<input type = "number" placeholder ="Enter number" name = "secondNumber"/>
		<input type = "submit" value = "Submit"/>		
	</form>