*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
}

.page{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin: 3% 5%;
}

header{
    width: 100%;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

main{
    width: 70%;
}

h1, h2, h3{
    font-family: Georgia, serif;
}

img{
    background-color: rgb(255,255,255);
    padding: 10px;
    border: 3px solid black;
    box-shadow: rgba(0,0,0,0.5);
}

.image1{
    float: right;
    margin:15px
}

.image2{
    float: left;
    margin:0px 15px 15px 0px
}

.secondparagraph{
    display: inline-block;
    width: 45%;
    border-right: 3px solid lightgray;
    padding-right: 10px;
}

blockquote{
    display: inline-block;
    width: 45%;
    font-family: Georgia, serif;
    padding-top: 0px;
    font-style: italic;
}

.authorparagraph{
    text-align: end;
}

nav > ul{
    list-style-type: square;
}

a{
    text-decoration: none;
    color:rgb(0, 153, 0);
}