@font-face {
    font-family: PTSerif;
    src: url("./PTSerif-Regular.ttf");
}

body{
    background-image: url(./image/image1.png);
    background-repeat: no-repeat;
    background-size: 70vw 60vh;
    font-family: "PT-Serif";
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 45vw 45vh;
    grid-template-areas: "content image";
    padding: 20px;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    grid-area: content;
    padding-right: 20px;
}

.content .subtitle{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: italic;
}

.content h1{
    text-align: center;
    font-size: 40px
}

.content hr{
    width: 100%;
    border: 1px dotted green
}

.content ul{
    padding: 0px;
    margin-bottom: 20px;
}

.content ul li div{
    height: 30px;
}

.content ul p{
    display: inline-block;    
    font-size: 27px;
}

.content ul .first_p{
    color: rgb(36, 162, 36);
    font-weight: bold;
    font-size: 27px;
    padding-right: 8px;
}

.content .main_content{
    font-size: 27px;
    font-family: "PT-Serif";
    width: 85%;
    margin-top: 60px;
    margin-bottom: 60px;
}

td{
    border: 2px solid rgb(36, 162, 36);
    text-align: center;
    width: min-content;
    width: 20px;
    font-size: 20px;
}

.row1{
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

img{
    grid-area: image;
    width: 40vw;
    height: 69vh;
}