body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}
ul {
    background-color: #444;
    text-align: center;    
    padding: 0px;
    margin: 0px;
    list-style:none;
}
li {
    display: inline;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
}

section{
    margin-left: 20px;
}

h1{
    font-size: 28px;
}

.innerParagraph {
font-style: italic;
}

.ordinaryParagraph {
    font-size: 24px;
}

footer{
    background-color:#444;
}

footer p{
    color: rgb(255, 255,255);
    padding: 10px;
    text-align: center;
}