@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

:root{
     ---clr-black: #000101;
     ---clr-white: #fdfdfd;
}

body{
    font-family: 'Inter', sans-serif;
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    width: 70%;
    margin: 48px auto;
}

.cards{
    display: flex;
    gap: 40px;
}

.cards .card:nth-child(even){
    margin-top: -25px;
    margin-bottom: -25px;
}

.card{
    background-color: var(---clr-white);
}

.content{
    padding: 20px;
}

.card-title{
    font-size: 20px;
    padding-bottom: 20px;
}

h2{
    letter-spacing: 1px;
}

span{
    font-size: 50px;
    font-weight: bold;
}

.card_bill{
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: lighter;
}

.card_service li{
    font-weight: 600;
    margin-bottom: 16px
}

.card_desc{
    font-size: 14px;
    line-height: 1.8;
}

.card_btn{
    background: var(---clr-black);
    color: white;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    text-shadow: 0 0 black;
    border: none;
}

#first{
    margin-top: 54px;
}

#second{
    margin-top: 68px;
}